* {
    margin: 0;
    font-family: "Courier New", monospace;
}

.container{
    display: flex;
    flex-direction: column;
    /* vh means the elements willl be equal to 100% of the viewport height (100%) */
    min-height: 100vh; 
}

.header{
    padding: 2%;
    text-align: center;
    background-color: lightgreen;
    font-size: 70px;
    font-weight: bold;
}

.body{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: white;
    padding: 5%;
}

#winmsg{
    text-align: center;
    font-size: 40px;
    padding-bottom: 30px;
}

.board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: lightgray;
    font-size: 100px;
    margin: 0 auto;
    width: 400px;
    height: 400px;
}

.sqr{
    text-align: center;
    padding: 7px;
    border-style: solid;
    border-color: black;
    color:lightgray;
}

#rematch{
    text-align: center;
    font-size: 40px;
    visibility: hidden;
}

#turn{
    text-align: center;
    font-size: 30px;
    padding-top: 40px;
}

#error{
    text-align: center;
    font-size: 25px;
    
}
.footer{
    text-align: center;
    padding: 2%;
    font-size: 25px;
    background-color: lightgreen;
    font-weight: bold;
}