* {
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    /* vh means the elements willl be equal to 100% of the viewport height (100%) */
    min-height: 100vh; 
}

.header{
    padding: 3%;
    background-color: yellow;
}

.body{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: lightblue;
    padding: 10%;
}

.board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: lightpink;
    font-size: 100px;
    margin: 0 auto;
    width: 500px;
    height: 500px;
}

.sqr{
    text-align: center;
    padding: 20px;
    border-style: solid;
    border-color: black;
}

#turn{
    text-align: center;
    font-size: 30px;
    padding-top: 40px;
}

#error{
    font-size: 25px;
    text-align: center;
}
.footer{
    padding: 2%;
    background-color: pink;
}